@model WebUni_Management.Core.Models.Account.LoginViewModel
@{
	ViewBag.Title = "Login";
}
<h1>@ViewBag.Title</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input asp-for="Username" id="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input asp-for="Password" id="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
