@model WebUni_Management.Core.Models.Account.ManageAccountViewModel
@{
	ViewBag.Message = "Manage your account";
}
<h1>@ViewBag.Message</h1>
<div class="manage-account-container">
<form asp-controller="Account" asp-action="ManageAccount" method="post">
    <div class="form-group">
            <label for="FirstName" class="form-label">First Name:</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label for="LastName" class="form-label">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label for="Age" class="form-label">Age:</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label for="PhoneNumber" class="form-label">Phone Number:</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label for="FacultyNumber" class="form-label">Faculty Number:</label>
        <input asp-for="FacultyNumber" class="form-control" />
        <span asp-validation-for="FacultyNumber" class="text-danger"></span>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<style>
    .manage-account-container {
        height: 550px;
        width: 550px;
        background-color: white;
        margin: auto;
        border: 2px solid #e91e63;
        border-radius: 8px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .form-group {
        padding-top: 15px;
        margin-bottom: 10px;
        align-items: center;
    }

    label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .text-danger {
        color: #dc3545;
    }

    .btn-primary {
        background-color: #fec7b4;
        border-color: #fec7b4;
        color: black;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #fc819e;
            border-color: #fc819e;
        }
</style>