@model WebUni_Management.Models.Account.RegisterViewModel
@{
	ViewBag.Title = "Register";
}
<h1>ViewBag.Message</h1>

<form asp-controller="Account" asp-action="Register" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input asp-for="InitialPassword" type="password" class="form-control" />
        <span asp-validation-for="InitialPassword" class="text-danger"></span>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Register</button>
</form>


@section Scripts
{
    <script src="~/js/Account/Register.js"></script>
}
