 @model WebUni_Management.Core.Models.PersonalInfo.SearchStudentViewModel
@{
    ViewBag.Message = "Search Students";
}

<div class="all-showcase-container">
    <div class="all-showcase-message">
        <h2>@ViewBag.Message</h2>
        <h3>Feel free to search our for students by their faculty number!</h3>
    </div>
    <div class="all-search-engine">
        <form class="form-search-engine" asp-controller="PersonalInfo" asp-action="SearchStudent" method="get">
            <div class="search-term">
                <label asp-for="SearchTerm" class="bold-label">Faculty number</label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Faculty number...">
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary search-btn">Search</button>
            </div>
        </form>
    </div>


   
<style>
    .all-showcase-message {
        color: #e91e63;
        margin-bottom: 20px;
        text-align: center;
    }

    .all-search-engine {
        margin-bottom: 30px;
        width: 90%;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-content: center;
    }

    .search-term {
        width: 29%;
        float: left;
        margin-right: 10px;
    }

    .submit {
        float: left;
        width: 8%;
        margin-top: 24px;
    }

    .form-search-engine {
        width: 100%;
    }

    .all-showcase-container {
        height: 670px;
        width: 1130px;
        background-color: white;
        margin: auto;
        border: 2px solid #e91e63;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-top: 5px;
        padding: 10px;
    }



    .btn-primary {
        background-color: #fc819e;
        border-color: #fc819e;
        color: black;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #e91e63;
            border-color: #e91e63;
        }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th,
        .table td {
            border: 1px solid #ccc;
            padding: 8px;
        }

    .bold-label {
        font-weight: bold;
    }

    .pagination-buttons {
        display: flex;
        justify-content: center;
        align-content: space-around;
        margin-bottom: 30px;
    }
</style>
