@{
    ViewData["Title"] = "Unauthorized";
}

<div class="error-container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Bundesstra%C3%9Fe_401_number.svg/1200px-Bundesstra%C3%9Fe_401_number.svg.png" alt="Unauthorized Image">
    <h5>Oops! You are not authorized to access this page.</h5>
    <div>Please log in with proper credentials or contact the administrator for assistance.</div>
    <div>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
</div>

<style>
    .error-container {
        max-width: 600px;
        margin: auto;
        text-align: center;
        padding: 20px;
        background-color: white;
        border: 2px solid #e91e63;
        border-radius: 8px;
        border-radius: 5px;
    }

        .error-container img {
            width: 300px;
            height: auto;
            margin-bottom: 20px;
        }

        .error-container a {
            color: #007bff;
            text-decoration: none;
        }
</style>
