@{
    ViewData["Title"] = "Internal Server Error";
}

<div class="error-container">
    <img src="https://static1.howtogeekimages.com/wordpress/wp-content/uploads/2017/05/Shutterstock_488064745.png" alt="Internal Server Error Image">
    <h5>Oops! Something went wrong on our end.</h5>
    <div>We apologize for the inconvenience. Please try again later.</div>
    <div>Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
</div>

<style>
    .error-container {
        max-width: 600px;
        margin: auto;
        text-align: center;
        padding: 20px;
        background-color: white;
        border: 2px solid #e91e63;
        border-radius: 8px;
        border-radius: 5px;
    }

        .error-container img {
            width: 300px;
            height: auto;
            margin-bottom: 20px;
        }

        .error-container a {
            color: #007bff;
            text-decoration: none;
        }
</style>
